@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body{
    font-family: 'East Sea Dokdo', cursive;
    margin: 0;
}
#heading{
    background-color: rgba(8, 211, 52, 0.678);
    height: 100px;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size: 3rem ;
}
#btnTranslate{
    padding: 0.4rem 2rem;
    background-color:  rgba(8, 211, 52, 0.678) ;
    border-radius: 0.5rem;
}
#inputText{
    display: block;
    padding: 1rem;
    border: 1.5px solid black;
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    font-size: large;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#outputText{
    border: 2px solid black;
    height: 10vh;
    padding: 1rem;
    margin-top: 1rem;
}
footer{
    background-color:   rgba(8, 211, 52, 0.678) ;
    margin-left: 0px;
    text-align: center;
}

p{
    font-size: 40px;
}
main{
    margin: auto;
    padding: 1rem;
    align-items: center;
    width: 60%;
}